<%- include('partials/header') -%>

<div class="container">
  <h1 class="mt-5 mb-4">Resources</h1>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Title</th>
        <th scope="col">Description</th>
        <th scope="col">Link</th>
      </tr>
    </thead>
    <tbody>
      <% resources.forEach((resource, index) => { %>
      <tr>
        <th scope="row"><%= index + 1 %></th>
        <td><%= resource.title %></td>
        <td><%= resource.description %></td>
        <td>
          <a href="<%= resource.link %>" target="_blank"
            ><%= resource.link %></a
          >
        </td>
      </tr>
      <% }); %>
    </tbody>
  </table>

  <!-- Return to Feed/Profile Section -->
  <div class="row justify-content-center mt-5" style="margin-bottom: 20px">
    <div class="col-6">
      <div class="mx-auto text-center">
        <a
          class="btn btn-secondary"
          href="/profile"
          style="color: white; background-color: #262d3d"
          >Return to Profile</a
        >
        <a
          class="btn btn-secondary"
          href="/feed"
          style="color: white; background-color: #262d3d"
          >Return to Feed</a
        >
      </div>
    </div>
  </div>
</div>

<%- include('partials/footer') -%>
